.howwework__container {
  display: flex;
  flex-direction: column;
  background-color: #f4f0ec;
  border-radius: 70px;
  padding: 8rem 4rem;
  gap: 5rem;
  margin-bottom: 6rem;
}

.howwework__header h2 {
  font-family: var(--font-sec);
  font-size: 50px;
  font-weight: 400;
  line-height: 63px;
  letter-spacing: 0em;
  color: #363b41;
  text-align: center;
  margin-bottom: 1.5rem;
}

.howwework__header p {
  font-family: var(--font);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
  color: #4d5053;
  text-align: center;
}

.howwework__content {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.hww__step {
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  width: 100%;
}

.hww__info {
  flex: 1;
  flex-basis: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.hww__info__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.hww__info__top p {
  font-family: var(--font-sec);
  font-size: 120px;
  font-weight: 400;
  line-height: 150px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}

.hww__info__bottom h3 {
  font-family: var(--font-sec);
  font-size: 35px;
  font-weight: 400;
  line-height: 44px;
  color: var(--primary-2);
}

.hww__info__bottom p {
  font-family: var(--font);
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: #4d5053;
}

.hww__image {
  flex: 1;
  flex-basis: 400px;
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hww__image img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .hww__step{
    gap: 1rem;
  }
  .imageOnRight .hww__info {
    order: 2;
  }

  .imageOnRight .hww__image {
    order: 1;
  }
}

@media only screen and (max-width: 767px) {
  .hww__image {
    display: none;
  }
}

@media (max-width: 576px) {
  .howwework__container {
    padding: 4rem 2rem;
  }
  .hww__info {
    gap: 0.5rem;
    text-align: center;
  }
  .hww__image {
    display: none;
  }

  .hww__info__bottom h3 {
    font-size: 30px;
  }

  .hww__info__bottom p {
    font-size: 18px;
  }
  .hww__info__top p {
    font-size: 80px;
  }
}
